@import "~bootstrap/dist/css/bootstrap.min.css";

div {
  border: 0px;
  border-color: red;
  border-style: dotted;
}

body {
  background-color: rgb(1, 97, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  width: 300px;
  height: 450px;
  border: 1px solid #1e1e1e;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 100px;
  position: relative;
  box-sizing: border-box;
  padding: 0px 25px 0px 25px;
}

.card .suit {
  font-size: 75px;
}

.top-suit {
  align-self: flex-start;
}

.bottom-suit {
  align-self: flex-end;
  transform: rotate(180deg);
}

.hearts .suit,
.diamonds .suit {
  color: red;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}
